* {
  margin: 0;
  padding: 0;
}

body { 
  background: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.btnArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  margin-top: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.openButton {
  color: #fff;
  background-color: black;
  font-weight: bold;
  font-size: 20px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}